@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudCard>
    <MudCardContent>
        <MudText>Story of the day</MudText>
        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Error">Learn More</MudButton>
    </MudCardActions>
</MudCard>

<MudPaper Class="pa-16 ma-2" Outlined="true"></MudPaper>
<MudPaper Class="pa-16 ma-2" Outlined="true" Square="true"></MudPaper>
<MudPaper Class="pa-16 ma-2" Square="true"></MudPaper>